<h1>All Listing </h1>

<%= form_tag items_path do %>
    <%= collection_select :location, :location_id, Location.all, :id, :city_zipcode %>
    <%= submit_tag "search by location" %>
<% end %>

<% @items.each do |item|%>
    <% if item.status == "Active" %>
    <h3>Product Name: <%= link_to item.name,  item_path(item) %></h3>
    <p> <%= image_tag item.image_url, size: "150x150" %></p>
    Price: <%= item.price %> $ <br>
    <% end %>
<% end %>

