<h1>Product Name: <%= @item.name %></h1>
Price :<%= @item.price %><br>
<p> <%= image_tag @item.image_url, size: "150x150" %></p>
condition: <%= @item.condition %><br>
Product Description: <%= @item.description %><br>
Location: <%= @item.location.city%> City,  <%= @item.location.state%><br>
Quantity: <%= @item.quantity %><br>
<br>


<% if current_user %>
    <% if  current_user.id == @item.user.id %>
        <%= link_to "Edit your #{@item.name}", edit_item_path %>
    <% else %>
        <%= link_to 'Buy Now', boughts_bought_path %>
    <% end %>
<% else %>
    <%= "Login to be able to Buy" %>
<% end %>

