<!DOCTYPE html>
<html>
  <head>
    <title>BuyOrSell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>Flatiron Store</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
    <h1>Welcome To Buy Or Sell Store!</h1>
    <%= yield %>    
</body>
</html>
